{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'parts/files.html' %}
    <title>Login</title>
</head>
<body>
{% include 'parts/header.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <hr style="color: #ffcf10;opacity: 1;height:2px;width: 150px"/>
            <p class="mb-0" style="font-size: 25px;font-weight: 900">REINITIALISATION DU MOT DE PASSE </p>
            <hr style="color: #ffcf10;opacity: 1;height:2px;width: 150px"/>

        </div>
    </div>
    <div class="row mt-4">


        <p>Mot de passe oublié ? Indiquez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail pour le
            réinitialiser.</p>

        <form method="POST" action="/accounts/password/reset/" class="password_reset">
            {% csrf_token %}
            <div class="d-flex align-items-center">
                <label for="id_email">E-mail</label>
                <input type="email" name="email" class="form-control ms-2" placeholder="Adresse e-mail" style="width: 400px !important;"
                                                                  autocomplete="email" required="" id="id_email">
            </div>
            <input type="submit" class="btn mt-3 mb-3"
                   style="height: 40px;width: 250px;background-color:#ffcf10;border: #ffcf10 "
                   value="Réinitialiser mon mot de passe">
        </form>

        <p>Merci de nous contacter si vous ne parvenez pas à réinitialiser votre mot de passe.</p>


    </div>
</div>
{% include 'parts/footer.html' %}

</body>
</html>