{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'parts/files.html' %}
    <title>REINITIALISATION DU MOT DE PASSE</title>
</head>
<body>
{% include 'parts/header.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <hr style="color: #ffcf10;opacity: 1;height:2px;width: 150px"/>
            <p class="mb-0" style="font-size: 25px;font-weight: 900">REINITIALISATION DU MOT DE PASSE</p>
            <hr style="color: #ffcf10;opacity: 1;height:2px;width: 150px"/>
        </div>
    </div>
    <div class="row mt-4">

        {% load i18n %}
        {% load account %}


        {% block content %}

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                minutes.{% endblocktrans %}</p>
        {% endblock %}
    </div>
</div>
{% include 'parts/footer.html' %}

</body>
</html>
