{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'parts/files.html' %}
    <title>MODIFIER LE MOT DE PASSE</title>
</head>
<body>
{% include 'parts/header.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <hr style="color: #ffcf10;opacity: 1;height:2px;width: 150px"/>
            <p class="mb-0" style="font-size: 25px;font-weight: 900">MODIFIER LE MOT DE PASSE</p>
            <hr style="color: #ffcf10;opacity: 1;height:2px;width: 150px"/>
        </div>
    </div>
    <div class="row mt-4">
        {% load i18n %}
        {% block content %}
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="row">
                            {{ form.as_p }}
                        </div>
                        <input type="submit" name="action" class="btn mt-3"
                               style="height: 40px;width: 250px;background-color:#ffcf10;border: #ffcf10 "
                               value="{% trans 'change password' %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input:password').addClass('form-control')
        $('form').children('div').children("p").addClass('col-sm-6 col-lg-4 mt-3 mt-lg-0')
        $('form').children('div').children("p").children('label').addClass('mb-2')

    })
</script>
{% include 'parts/footer.html' %}

</body>
</html>
