{% extends "account/email/base_message.txt" %}
{% load i18n %}
<style>
    * {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
</style>
{% block content %}{% autoescape off %}{% blocktrans %}
        <img src="http://localhost:8000/static/Icons/logo.svg" height="75" alt="logo" style="margin-bottom: 30px"/>
    <p style="margin-bottom: 20px;padding-left: 5px">
Vous recevez cet e-mail parce que vous ou quelqu'un d'autre avez demandé un mot de passe pour votre compte utilisateur.
     Il peut être ignoré en toute sécurité si vous n'avez pas demandé de réinitialisation de mot de passe. Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.
</p>
{% endblocktrans %}

    <a style="margin-bottom: 20px;padding-left: 5px" href="{{ password_reset_url }}">Click ici</a>{% if username %}

        {% blocktrans %}
            <p style="margin-bottom: 20px;padding-left: 5px">En cas d'oubli, votre nom d'utilisateur est {{ username }}.</p>
        {% endblocktrans %}
    {% endif %}
{% endautoescape %}
{% endblock %}
