<style>
    *{
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
</style>
<div>
<p>
bienvenue dans notre communauté, vous êtes devenu l'un des membres de notre équipe, nous ferons de notre mieux pour vous apporter les meilleurs produits aux meilleurs prix</p>
   <div style="width: 200px;height: 50px;background-color: #ffcf10;">
    <a href="http://localhost:8000" style="text-decoration: none;color: black;">Découvrez nos produits</a>
    </div>
       <p>Meilleures salutations</p>
    <small>Impression equipe</small>
</div>