{% load static %}
<style>
    * {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
</style>
<div>
    <img src="http://localhost:8000/static/Icons/logo.svg" height="75" alt="logo" style="margin-bottom: 30px"/>
    <p>
        bienvenue {{ user }} dans notre communauté, vous êtes devenu l'un des membres de notre équipe, nous ferons de
        notre mieux
        pour vous apporter les meilleurs produits aux meilleurs prix
    </p><br><br>
    <div style="display:flex;align-items: center;justify-content: center">
        <a href="http://localhost:8000"
           style="padding-bottom: 10px;padding-top: 10px;padding-left:5px;padding-right:5px;border-radius:4px;background-color: #ffcf10;text-decoration: none;color: black;">Découvrez nos
            produits</a>
    </div>
    <p style="margin-bottom: 30px">Meilleures salutations</p>
    <p style="text-align: end;font-size: 15px">Impression equipe</p>
</div>