{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'parts/files.html' %}
    <title>{{ searchtitle }}</title>
    <style>
        * {
            color: #333e48;
        }


    </style>
</head>
<body>
{% include 'parts/header.html' %}
<div class="container-fluid">
   <div class="row">
        <div class="col-lg-3 col-md-3 col-6 d-flex mb-sm-3 justify-content-center align-items-center">
            <img src="{% static 'Icons/Euro.png' %}" height="23" width="23"/>
            <span style="font-size: 12px">DES PRIX COMPETITIFS</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 d-flex mb-sm-3 justify-content-center align-items-center">
            <img src="{% static 'Icons/Truck.svg' %}" height="28" width="28"/>
            <span style="font-size: 12px">LIVRAISON OFFERTE</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 d-flex mb-sm-3 justify-content-center align-items-center">
            <img src="{% static 'Icons/Correct.svg' %}" height="28" width="28"/>
            <span style="font-size: 12px">CONTROLE DES FICHIERS</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 d-flex mb-sm-3 justify-content-center align-items-center">
            <img src="{% static 'Icons/Like.svg' %}" height="28" width="28"/>
            <span style="font-size: 12px">PRODUITS DE QUALITE</span>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-11" style="font-size: 17px">
            <span><a href="../index.html" class="text-dark text-decoration-none">Recherche</a> </span>
            <span class=""> > </span>
            <span style="font-weight:bold;text-decoration:underline;text-decoration-color: #ffcf10;text-decoration-width: 2px">{{ searchtitle }}</span>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12 text-center">
            <p style="font-size: 25px;font-weight: 600">RÉSULTATS DE RECHERCHE POUR '{{ searchtitle }}'</p>
        </div>
    </div>
    <div class="row">
        {% if products|length >= 1 %}
            {% for product in products %}
                <div class="col-lg-2 col-md-3">
                    <div class="card">
                        <img src="{{ product.articleimages.first.name.url }}" style="height: 200px"
                             class="img-fluid" alt="...">
                        {#                    {% for image in product.articleimages.all %}#}
                        {#                        <p>{{ product.articleimages.first.name }}</p>#}
                        {#                    {% endfor %}#}
                        <div class="card-body text-center">
                            <p class="card-title"
                               style="font-size: 16px;font-weight: bold">{{ product.title | slice:":18" }}
                                {% if product.title|length  > 7 %} .. {% endif %}</p>
                            <p style="font-size: 16px" class="card-text">À partir de
                                {% if product.SpecificationArticle.minprice != None %}
                                    <span style="font-weight: bold">
                                    {{ product.SpecificationArticle.minprice }} MAD
                                </span>
                                {% endif %}
                            </p>
                            <a href="/product/{{ product.id }}" class="btn btn-sm text-light "
                               style="font-size:18px;width: 100%;background-color: #16a4fa;border-radius: 100px">Commander</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 text-center">
                <p style="font-size: 24px;font-weight: 700">Aucun résultat pour la recherche '{{ searchtitle }}' </p>
                <p style="font-size: 19px"> Vous pouvez essayer l'une des recherches les plus populaires<br>
                    carte de visite, calendrier, flyer, marque page</p>
                <a href="/products" style="font-size: 19px" class="text-dark">Voir tous les produits</div>
            </div>
        {% endif %}
</div>
</div>

{% include 'parts/footer.html' %}

<script>
    var swiper = new Swiper('.swiper-container-newitems', {
        slidesPerView: 5,
        spaceBetween: 30,
        {#slidesPerGroup: 3,#}
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>