{% load static %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/jquery/jquery.js' %}"></script>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


<link rel="stylesheet" href="{% static 'swipper/swiper-bundle.css' %}" />
<link rel="stylesheet" href="{% static 'swipper/swiper-bundle.min.css' %}" />

<script src="{% static 'swipper/swiper-bundle.js' %} "></script>
<script src="{% static 'swipper/swiper-bundle.min.js' %}"></script>