{% load static %}
<footer class="container-fluid pt-2 mt-5" style="border-top: solid 1px #ffcf10">
    <div class="row ps-5 pe-5">
        <div class="col-5 ">
            <p style="color:#ffcf10;font-size: 17px;font-weight: 800">PLUS D'INFORMATIONS</p>
            <p style="font-size: 14px">
                Printpascher.com vous propose le meilleur rapport qualité/prix sur tous les supports de communication
                print. Cartes de visite, flyers, affiches, brochures, dépliants, profitez d’un kit de communication
                complet pour vous ou votre entreprise. Bénéficiez également d’une livraison rapide, de conseils
                techniques sur mesure et d’un service client compétent et disponible tout au long de votre démarche.
            </p>
        </div>
        <div class="col-2 " >
            <p style="color:#ffcf10;font-size: 17px;font-weight: 800">A PROPOS</p>
            <ul class="ps-0" style="list-style: none;font-size: 14px;">
                <li class="mb-3">Qui sommes nous ?</li>
                <li class="mb-3">Mentions légales</li>
                <li class="mb-3">Sécurité et internet</li>
                <li class="mb-3">CGV</li>
                <li class="mb-3">Notre blog</li>
                <li class="mb-3">Espace revendeur</li>
                <li class="mb-3">Code promo</li>
                <li class="mb-3">Plan du site</li>
                <li class="mb-3">Espace presse</li>
                <li>Contactez-nous</li>

            </ul>
        </div>
        <div class="col-2">
            <p style="color:#ffcf10;font-size: 17px;font-weight: 800">BESOIN D'AIDE</p>
            <ul class="ms-0" style="list-style:none;font-size: 14px">
                <li class="mb-3">F.A.Q.</li>
                <li class="mb-3">Préparation des fichiers</li>
                <li class="mb-3">Parrainage</li>
                <li class="mb-3">Fidélité</li>
                <li class="mb-3">Délais de livraison</li>
                <li class="mb-3">Transport</li>
                <li class="mb-3">Moyens de paiement</li>
                <li class="mb-3">Lexique</li>
                <li class="mb-3">Guide conseil</li>
            </ul>
        </div>
        <div class="col-3">
            <p style="color:#ffcf10;font-size: 17px;font-weight: 800">RETROUVEZ NOUS SUR</p>
            <div class="d-flex">
                <img src="{% static 'icons/fb.svg' %}" class="me-1" style="width: 35px;height: 35px"/>
                <img src="{% static 'icons/youtube.svg' %}" class="me-1" style="width: 35px;height: 35px"/>
                <img src="{% static 'icons/pinterest.svg' %}" class="me-1" style="width: 35px;height: 35px"/>
                <img src="{% static 'icons/in.svg' %}" class="me-1" style="width: 35px;height: 35px"/>
                <img src="{% static 'icons/twitter.svg' %}" class="me-1" style="width: 35px;height: 35px"/>

            </div>
            <div class="d-flex flex-column justify-items-center me-5 ">
                <span style="font-family: 'Lobster', cursive;" class="mb-1">Avis verifier</span>
                <div style="border: solid 2px black;border-radius: 4px;width: 150px">
                    <span style="font-size: 12px;font-weight: 600;">AVIS DE NOS CLIENTS</span><br>
                    <img src="{% static 'icons/star.svg' %}" height="12" width="12"/>
                    <img src="{% static 'icons/star.svg' %}" height="12" width="12"/>
                    <img src="{% static 'icons/star.svg' %}" height="12" width="12"/>
                    <img src="{% static 'icons/star.svg' %}" height="12" width="12"/>
                    <img src="{% static 'icons/star.svg' %}" height="12" width="12"/>
                    <span>4.7/5</span>
                </div>
            </div>
        </div>

    </div>
    <div class="row pt-3 " style="font-size: 14px;background-color: #eeeeee">
        <p class="text-center">
        <img src="{% static 'icons/logo.svg'%}" class="" style="width: 284px;height: 90px">7
        </p>
        <p class="mb-0 text-center">Copyright 2010-2021 printpascher.com</p>
        <p class="text-center">Tous droits réservés</p>
    </div>
</footer>