<div class="d-flex align-items-center mt-5 mb-5">
    <a href="infoverify" class="py-2 text-center profiletab"
       style="text-decoration:none;width:15%;background-color: #ffcf10;border-radius: 100px;cursor: pointer">
        <span>Informations</span>
    </a>
    <hr style="width: 10%"/>
    <a href="adresseverify" class="py-2 text-center adressetab"
       style="text-decoration:none;width:15%;background-color: #ffcf10;border-radius: 100px;cursor: pointer">
        <span>Adresse</span>
    </a>
    <hr style="width: 10%"/>
    <a href="livraisonverify" class="py-2 text-center deleverytab"
       style="text-decoration:none;width:15%;background-color: #ffcf10;border-radius: 100px;cursor: pointer">
        <span>Livraision</span>
    </a>
    <hr style="width: 10%"/>
    <a href="payementverify" class="py-2 text-center payementtab"
       style="text-decoration:none;width:15%;background-color: #ffcf10;border-radius: 100px;cursor: pointer">
        <span>Paiement</span>
    </a>
    <hr style="width: 10%"/>
    <a href="commandeverify" class="py-2 text-center commande"
       style="text-decoration:none;width:15%;background-color: #ffcf10;border-radius: 100px;cursor: pointer">
        <span>Commander</span>
    </a>
</div>
